<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deklaracja</title>
</head>

<body>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
        </style>

        <table class="tg">
        <thead>
          <tr>
            <th class="tg-0pky" colspan="2">Przedmiot:</th>
            <th class="tg-0pky" colspan="2"><%= przedmiot %></th>
            <th class="tg-0lax" colspan="4">Imię i nazwisko:</th>
            <th class="tg-0lax" colspan="4"><%= imie + ' ' + nazwisko %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0pky">Zad:</td>
            <td class="tg-0pky">1</td>
            <td class="tg-0pky">2</td>
            <td class="tg-0lax">3</td>
            <td class="tg-0lax">4</td>
            <td class="tg-0lax">5</td>
            <td class="tg-0lax">6</td>
            <td class="tg-0lax">7</td>
            <td class="tg-0lax">8</td>
            <td class="tg-0lax">9</td>
            <td class="tg-0lax">10</td>
          </tr>
          <tr>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"><%= zad1 %></td>
            <td class="tg-0pky"><%= zad2 %></td>
            <td class="tg-0lax"><%= zad3 %></td>
            <td class="tg-0lax"><%= zad4 %></td>
            <td class="tg-0lax"><%= zad5 %></td>
            <td class="tg-0lax"><%= zad6 %></td>
            <td class="tg-0lax"><%= zad7 %></td>
            <td class="tg-0lax"><%= zad8 %></td>
            <td class="tg-0lax"><%= zad9 %></td>
            <td class="tg-0lax"><%= zad10 %></td>
          </tr>
        </tbody>
        </table>

</body>

</html>